.text-triblue {
  color: #1391d2 !important;
}

.text-triyellow {
  color: #fc9e15 !important;
}

.text-trired {
  color: #e3403d !important;
}

.card-img-top {
  width: 100% !important;
  height: 15vw !important;
  object-fit: cover !important;
}
